.project-box__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0 0 26px 0;
    max-width: 550px;
}

@media screen and (max-width: 768px) {
    .project-box__title {
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 455px) {
    .project-box__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
    }
}