.project-box__text {
    display: flex;
    flex-direction: column;
    margin: 0 0 110px 40px;
}

@media screen and (max-width: 768px) {
    .project-box__text {
        margin: 0 0 94px 30px;
    }
}

@media screen and (max-width: 455px) {
    .project-box__text:last-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 455px) {
    .project-box__text {
        margin-bottom: 0;
    }
}

.project-box__text:first-child {
    margin-left: 0;
}