.form__btn-result {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px;
    background: #2BE080;
    border: none;
    padding: 13px;
    margin: 159px 0 16px;
}

@media screen and (max-width: 768px) {
    .form__btn-result {
        padding: 15px;
    }
}

@media screen and (max-width: 440px) {
    .form__btn-result {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 14px;
        margin-top: 247px;
    }
}

.form__btn-result_signup {
    margin-top: 60px;
}

@media screen and (max-width: 320px) {
    .form__btn-result_signup {
        margin-top: 147px;
    }
}