.grid-cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
    gap: 24px 37px;
    list-style: none;
    padding-left: 0;
    margin: 16px 0 0 0;
}

.grid-card {
    cursor: pointer;
    background: #FDFDFD;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .08);
    border-radius: 6px;
}

.grid-card__container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.grid-card__image {
    width: 100%;
    height: 203px;
    object-fit: cover;
}

.grid-card__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.grid-card__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    max-width: 290px;
    margin: 0;
}

.grid-card__like {
    background-image: url('./images/iconLike.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    object-fit: cover;
    width: 14px;
    height: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.grid-card__time {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0 0 16px 16px;
}
