.result-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .result-form {
        margin-top: 230px;
    }
}

@media screen and (max-width: 440px) {
    .result-form {
        max-width: 260px;
        margin-top: 56px;
    }
}

.logo {
    max-width: 38px;
    max-height: 38px;
    margin: 70px 0 40px;
}

@media screen and (max-width: 768px) {
    .logo {
        margin-top: 0;
    }
}

@media screen and (max-width: 440px) {
    .logo {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
    }
}

.result-form__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 40px;
}

@media screen and (max-width: 440px) {
    .result-form__title {
        text-align: center;
        margin-bottom: 80px;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .form {
        min-height: 337px;
    }
}

.form__label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin: 0 0 10px;
}

.form__input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    background: #F9F9F9;
    border-radius: 8px;
    border: none;
    padding: 15px;
}

.form__error {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin: 10px 0 10px;
}

.form__error:last-child {
    margin-bottom: 0;
}

.result-form__btn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px;
    background: #2BE080;
    border: none;
    padding: 13px;
    margin: 170px 0 16px;
}

@media screen and (max-width: 768px) {
    .result-form__btn {
        margin-top: 0;
    }
}

@media screen and (max-width: 440px) {
    .result-form__btn {
        font-size: 12px;
        line-height: 15px;
        margin-top: 88px;
    }
}

.result-form__subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 0;
}

@media screen and (max-width: 440px) {
    .result-form__subtitle {
        font-size: 12px;
        line-height: 15px;
    }
}

.result-form__subtitle-link {
    color: #2BE080;
    text-decoration: none;
}

.hover-style:hover {
    opacity: .7;
    cursor: pointer;
}