.search {
    display: flex;
    flex-direction: column;
}

.input-group {
    width: 90%;
    display: flex;
    align-items: center;
    border: 2px solid rgb(170, 170, 170, .1);
    border-radius: 8px;
    background-color: transparent;
    margin: 70px 0 0 70px;
}

.input_search {
    height: 72px;
    width: 100%;
    margin: 0;
    padding: 0 23px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;;
    box-sizing: border-box;
    border: none;
}

.input_search::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    opacity: .5;
}

.button_search {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #2BE080;
    border-radius: 5px;
    margin: 0 24px 0 0;
    padding: 0 28px;
    height: 52px;
    border: none;
    box-sizing: border-box;
}

.switch-box {
    display: flex;
    margin: 27px 0 0 70px;
}

.switch {
    --circle: 16px; /*-- размер кружка в переключателе --*/
    --disabled-color: #A0A0A0; /*-- неактивный цвет --*/
    --enabled-color: #FFFFFF; /*-- активный цвет --*/

    position: relative;
    display: inline-block;
    width: calc(var(--circle) * (0.1538 * 2) + var(--circle) * 2);
    height: calc(var(--circle) * (0.1538 * 2) + var(--circle));
    box-shadow: 0 4px 4px rgba(50, 50, 71, 0.08), 0 4px 8px rgba(50, 50, 71, 0.06);
    border-radius: 16px;
}

.switch input {
    display: none;
}

.switch input:checked + .slider {
    background-color: var(--enabled-color);
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px var(--enabled-color);
}

.switch input:checked + .slider:before {
    transform: translateX(var(--circle));
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--disabled-color);
    border-radius: calc(var(--circle) * (0.1538 * 2) + var(--circle));
    cursor: pointer;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--circle);
    width: var(--circle);
    left: calc(var(--circle) * 0.1538);
    bottom: calc(var(--circle) * 0.1538);
    background-color: #2BE080;
    border-radius: 50%;
    transition: .4s;
}

.switch-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin: 0 0 0 13px;
}

.hover-style:hover {
    opacity: .7;
    cursor: pointer;
}
