.account {
    background: #FFFFFF;
    box-shadow: 0 3px 14px rgba(0, 0, 0, .08);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 7px 0;
    max-width: 100px;
    max-height: 32px;
}