.grid-card__delete {
    background-image: url('../../../images/iconDelete.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    object-fit: cover;
    width: 7px;
    height: 7px;
    border: none;
    padding: 0;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .grid-card__delete {
        width: 12px;
        height: 9px;
    }
}