.nav__profile {
    display: flex;
    padding: 0;
    list-style: none;
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .nav__profile {
        visibility: hidden;
        width: 0;
        margin: 0;
    }
}