.grid-card__time {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0 0 16px 16px;
}

@media screen and (max-width: 815px) {
    .grid-card__time {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 320px) {
    .grid-card__time {
        font-size: 10px;
        line-height: 12px;
    }
}