.nav-site {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .nav-site {
        margin-bottom: 112px;
    }
}

@media screen and (max-width: 320px) {
    .nav-site {
        margin-bottom: 91px;
    }
}