.btn-enter {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    border: none;
    background-color: #2BE080;
    border-radius: 3px;
    padding: 8px 20px;
    text-decoration: none;
}

@media screen and (max-width: 455px) {
    .btn-enter {
        font-size: 10px;
        padding: 5px 12px;
    }
}