.line-box {
    border-bottom: #AAAAAA solid 1px;
    opacity: 0.2;
    max-width: 1140px;
    padding: 19px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .line-box {
        visibility: hidden;
        height: 0;
        padding: 0;
        border: none;
    }
}