.project-time__line-front {
    background: #F2F2F2;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 9px 0;
    width: 80%;
}

@media screen and (max-width: 455px) {
    .project-time__line-front {
        font-size: 11px;
        line-height: 13px;
        padding: 15px 0;
    }
}