.grid-cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    gap: 37px 14px;
    list-style: none;
    padding-left: 0;
    margin: 16px 0 0 0;
}

@media screen and (max-width: 815px) {
    .grid-cards {
        grid-template-columns: repeat(auto-fill, minmax(221px, 1fr));
        gap: 30px 30px;
    }
}

@media screen and (max-width: 320px) {
    .grid-cards {
        grid-template-columns: repeat(1, 300px);
        gap: 17px;
    }
}