.landing-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-align: center;
    margin: 186px auto 0;
    max-width: 730px;
}

@media screen and (max-width: 768px) {
    .landing-title {
        margin-top: 326px;
    }
}

@media screen and (max-width: 500px) {
    .landing-title {
        font-size: 31px;
        line-height: 39px;
        margin-top: 207px;
    }
}