.form_result {
    margin-top: 106px;
    height: 298px;
}

@media screen and (max-width: 768px) {
    .form_result {
        margin-top: 0;
        height: 287px;
    }
}

@media screen and (max-width: 465px) {
    .form_result {
        max-width: 260px;
        margin-top: 72px;
    }
}