.footer__link {
    display: flex;
}

@media screen and (max-width: 320px) {
    .footer__link {
        grid-column: 1;
        grid-row: 1;
        flex-direction: column;
        align-items: center;
        margin-left: 74px;
    }
}