.nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav {
        visibility: hidden;
    }
}

.nav__profile {
    display: flex;
    padding: 0;
    list-style: none;
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .nav__profile {
        visibility: hidden;
        width: 0;
        margin: 0;
    }
}

.nav__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #000000;
    margin-right: 23px;
    text-decoration: none;
}

.nav__text:last-child {
    margin-right: 0;
}

.account {
    background: #FFFFFF;
    box-shadow: 0 3px 14px rgba(0, 0, 0, .08);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 7px 0;
    max-width: 100px;
    max-height: 32px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .account {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        border: none;
    }
}

.account__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    color: #000000;
    margin-right: 7px;
}

.account__icon {
    background: #F9F9F9;
    border-radius: 50px;
    padding: 5px;
}

.burger-menu {
    border: none;
    background: transparent no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0;
    max-width: 44px;
    max-height: 44px;
}

@media screen and (max-width: 320px) {
    .burger-menu {
        max-width: 38px;
        max-height: 38px;
    }
}

@media screen and (min-width: 769px) {
    .burger-menu {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 768px) {
    .burger-menu {
        visibility: visible;
    }
}

.burger-menu__img {
    width: 100%;
    height: 100%;
}
