.nav__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #000000;
    margin-right: 23px;
}

.nav__text:last-child {
    margin-right: 0;
}