.landing-main {
    background-color: #5C5C5C;
    position: relative;
    height: 520px;
    display: flex;
}

@media screen and (max-width: 768px) {
    .landing-main {
        height: 784px;
    }
}

@media screen and (max-width: 455px) {
    .landing-main {
        height: 570px;
    }
}