.grid-card__like {
    background-image: url('../../../images/iconLike.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    object-fit: cover;
    width: 14px;
    height: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
}