.nav-site__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .nav-site__text {
        font-size: 28px;
    }
}

@media screen and (max-width: 455px) {
    .nav-site__text {
        font-size: 18px;
        line-height: 28px;
    }
}