.portfolio-about__inform {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    mix-blend-mode: normal;
    margin: 0 0 26px 0;
}

@media screen and (max-width: 768px) {
    .portfolio-about__inform {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 455px) {
    .portfolio-about__inform {
        font-size: 11px;
        line-height: 16px;
    }
}