.portfolio-about__inform-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .portfolio-about__inform-text {
        font-size: 12px;
        line-height: 18px;
        max-width: 374px;
    }
}

@media screen and (max-width: 455px) {
    .portfolio-about__inform-text {
        font-size: 11px;
        line-height: 16px;
    }
}