.page-error__link-back {
    font-size: 14px;
    line-height: 17px;
    color: #2BE080;
    margin: 0;
    text-decoration: none;
}

@media screen and (max-width: 420px) {
    .page-error__link-back {
        font-size: 12px;
        line-height: 15px;
    }
}